


/* Global/Desktop view */

body {
  background-color:lightgray;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  font-size: x-large;
  font-family: 'Urbanist', sans-serif;
  color: white;
  text-decoration: none;
}

.logo {
  padding-left: 30px;
}

.highlight {
  font-size: xx-large;
  font-family: 'Urbanist', sans-serif;
  font-weight: 800;
  color: whitesmoke;
  text-shadow: 5px 5px 12px violet;
}

.offer {
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
  color: rgb(60, 60, 60);
  padding-top: 150px;

}

.conteiner {
  font-family: 'Urbanist', sans-serif;
  min-height: 500px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 0 45px 0;
}

.ref {
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  color: rgb(60, 60, 60);
  padding-bottom: 20px;
}

.header-conteiner {
  background-color: rgb(147, 112, 216);
  min-height: 100px;
  position: fixed;
  width: 100%;
}

header {
  max-width: 1024px;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-container {
  min-height: 100px;
  width: 100%;
  text-align: center;
}

.contact {
  font-family: 'Urbanist', sans-serif;
  max-width: auto;
  margin: 0 auto;
  color: rgb(147, 112, 216);
}

.contact-line {
  font-size: 1.2rem;
  display: inline-block;
  margin: 40px 50px;
}

.contact-line .contact-icon {
  margin: 0px;
}

.contact-line h3 {
  padding: 10px 5px;
}

.contact-line p {
  padding: 5px 5px;
  color: black;
}

.footer-conteiner {
  background-color: rgb(60, 60, 60);
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

footer {
  font-size: small;
  font-family: 'Urbanist', sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  padding: 80px 0 30px 0;
  color: whitesmoke;
}

footer p {
  padding-top: 20px;
}

hr {
  width: 150px;
  margin-top: 20px;
}

.social-media {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 21px;
  opacity: .6;
  margin: 8px;
  transition: all .4s ease;
}

.social-media:hover {
  opacity: 1;
  transform: scale(1.1);
}

.col {
  background-color: lightgray;
  width: 30%;
  margin-bottom: 20px;
  padding: 0 10px 0 10px
}


.col img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.col p {
  font-family: 'Urbanist', sans-serif;
  color: rgb(60, 60, 60);
  font-weight: 900;
  text-align: center;
  padding: 20px 20px;
  line-height: 1.45rem;
}

.col p::first-line {
  font-size: x-large;
  color: purple;
}

.button {
  padding: 10px 10px;
  margin-left: 10px;
  color: whitesmoke ;
  opacity: .5;
  margin: 10px;
  transition: all .3s ease;
}

.button:hover {
  opacity: 1.2;
  transform: scale(1.2);
}

.navbutton:hover {
  background-color: rgba(147, 112, 216, 0.527);
}

.mob-wrapper{
  display: none;
}

/* Tablet view */

@media (max-width: 768px) {
  .offer {
    padding-top: 30px;
  }
    
  .col {
    width: 45%;
    margin: 0 10px 0 10px;
  }

  .hide-desktop-only {
    display: block;
  }

 
  nav{
    display: none;
  }

  nav a {
    display: block;
    margin-left: 0;
  }

  .logo {
    min-height: 40px;
    padding-left: 30px;
  }

  .button {
    margin: 0;
  }

  .header-conteiner {
    position: relative;
  }

  .conteiner{
      padding-top: 40px;
  }

  .mob-wrapper{
    display: block;
    padding-right: 20px;
  }
  .burgermenu {
    width: 30px;
    color: whitesmoke;
    padding-bottom: 20px;
  }

  .mob-nav{
    display: none;
    position: absolute;
  }

  .navbutton{
    width: 100%;
    display:-webkit-box;
    background-color: mediumpurple;
    padding: 15px 150px 15px 150px;
    margin-left: -89%;
    text-align: justify;
  }

  .footer-conteiner {
    text-align: center;
    padding-top: 30px;
  }

}

/* Mobile view */

@media (max-width: 400px) {
  .col {
    width: 100%;
    padding: 20px;
  }

  .hide-mobile {
    display: none;
  }

  header {
    display: block;
    text-align: center;
  }

  nav a {
    display: block;
    margin-left: 0;
  }

  .logo {
    min-height: 40px;
    padding: 40px 0;
  }

  .button {
    margin: 0;
  }

  .header-conteiner {
    position: relative;
  }

  .conteiner{
      padding-top: 40px;
  }

  .mob-wrapper{
    display: block;
    padding-right: 10px;
  }

  .mob-nav{
    display: none;
    position: absolute;
  }

  .navbutton{
    display: block;
    background-color: mediumpurple;
    padding: 10px 10px;
    margin-left: 0;
    text-align: center;
  }

  .footer-conteiner {
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
  }

}

